@font-face{ 
    font-family: 'New Spirit Regular Condensed'; 
    src: url("../fonts/NEWSPIRIT-REGULARCONDENSED.TTF");
}

@font-face{ 
    font-family: 'New Spirit Semibold Condensed'; 
    src: url("../fonts/NEWSPIRIT-SEMIBOLDCONDENSED.TTF");
}

@font-face{ 
    font-family: 'New Spirit Bold Condensed'; 
    src: url("../fonts/NEWSPIRIT-BOLDCONDENSED.TTF");
}

@font-face{ 
    font-family: 'New Spirit Regular'; 
    src: url("../fonts/NEWSPIRIT-REGULAR.TTF");
}

@font-face{ 
    font-family: 'New Spirit Light Condensed'; 
    src: url("../fonts/NEWSPIRIT-LIGHTCONDENSED.TTF");
}

body{
    margin-top: 12vh;
    color: #413E39;
    background-color: #FFFEF8;
}
.navbar{
    border-bottom: 3px solid #000;
    background-color: #fff;
}
.navbar-logo{
    height: 7vh;
    padding-left: 4vw;
}
.nav-link{
    color: #000;
    font-family: 'New Spirit Regular Condensed';
}
.navbar-nav > li{
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    background-color: #fff;
}
.navbar-nav > li > .active{
    background-color: #41953C;
    color: #fff !important;
    font-family: 'New Spirit Semibold Condensed';
}
.nav-link{
    padding-left: 2.6vw !important;
    padding-right: 2.6vw !important;
    border-radius: 0.4vw;
}
.navbar-nav > li > a{
    border: 2px solid transparent;
}
.navbar-nav > li > a:hover{
    border: 2px solid #959595;    
}
.navbar-toggler{
    border: 0;
}

.about-title{
    padding-top: 4vh;
    padding-bottom: 12vh;
}
.about-description{
    font-family: 'New Spirit Regular Condensed';
    text-align: justify; 
    line-height: normal;
}
.about-section-header{
    font-family: 'New Spirit Semibold Condensed';
}
.team-title{
    font-family: 'New Spirit Semibold Condensed';
}
.team-card{
    border: 3px solid #413E39;
    border-radius: 25px;
}
.team-info{
    line-height: normal;
}
.team-name{
    font-family: 'New Spirit Semibold Condensed';
    color: #5A603B;
}
.team-role{
    font-family: 'New Spirit Light Condensed';
}
.team-description{
    font-family: 'New Spirit Regular Condensed';
    text-align: justify;
    line-height: normal; 
}

.list-group-item{
    border: none;
    background-color: #FFFEF8;
}
footer{
    padding-top: 4vh;
    padding-bottom: 2vw;
    background-color: #FFFEF8;
}
.footer{
    border-top: 3px solid #413E39;
}
.footer-link{
    color: inherit;
    text-decoration: none;
}
.footer-link:hover, .footer-link:visited{
    color: inherit;
}
.footer-link:hover{
    text-decoration: underline;
}
.social-media > a{
    color: inherit;
    text-decoration: none;
    color: #413E39;
    transition: 0.3s
}
.social-media{
    text-align: center;
    font-size: 250%;
}
.social-media > a:hover{
    color: #41953C;
}
.ns-semibold-condensed{
    font-family: 'New Spirit Semibold Condensed';
}
.ns-regular-condensed{
    font-family: 'New Spirit Regular Condensed';    
}

@media(min-width:0px){
    .footer-header{
        font-family: 'New Spirit Bold Condensed';
        font-size: 6vw;
        letter-spacing: 0.5vw;
    }
    .footer-subheader{
        font-family: 'New Spirit Semibold Condensed';
        font-size: 4.8vw;
    }
    .footer-copyright{
        font-family: 'New Spirit Regular';
        font-size: 3vw;
        letter-spacing: 0.2vw;
    }
    .about-row{
        margin-bottom: 6vh;
    }
    .about-description{
        font-size: 3.4vw;
        margin-top: 3vh;
    }
    .about-section-header{
        font-size: 5vw;
        display: block;
        text-align: center;
    }
    .team-title{
        font-size: 7vw;
    }
    .team-name{
        font-size: 5vw;
        display: block;
        text-align: center;
        margin-top: 2vh;
    }
    .team-role{
        font-size: 3.6vw;
        display: block;
        text-align: center;
    }
    .team-description{
        font-size: 3.2vw;
    }
}

@media(min-width:576px){
    .footer-header{
        font-family: 'New Spirit Bold Condensed';
        font-size: 4vw;
        letter-spacing: 0.5vw;
    }
    .footer-subheader{
        font-family: 'New Spirit Semibold Condensed';
        font-size: 3.2vw;
    }
    .footer-copyright{
        font-family: 'New Spirit Regular';
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }
    .about-description{
        font-size: 2.6vw;
        margin-top: 3vh;
    }
    .about-section-header{
        font-size: 4vw;
        display: block;
        text-align: center;
    }
    .team-title{
        font-size: 6vw;
    }
    .team-name{
        font-size: 4vw;
        display: block;
        text-align: center;
        margin-top: 2vh;
    }
    .team-role{
        font-size: 2.8vw;
        display: block;
        text-align: center;
    }
    .team-description{
        font-size: 2.6vw;
    }
}

@media(min-width:768px){
    .about-description{
        font-size: 2.4vw;
        margin-top: 3vh;
    }
    .about-section-header{
        font-size: 4vw;
        display: block;
        text-align: center;
    }
    .team-title{
        font-size: 5vw;
    }
    .team-name{
        font-size: 3.4vw;
        display: block;
        text-align: center;
        margin-top: 2vh;
    }
    .team-role{
        font-size: 2.6vw;
        display: block;
        text-align: center;
    }
    .team-description{
        font-size: 2.2vw;
    }
}

@media(min-width:992px){
    .footer-header{
        font-family: 'New Spirit Bold Condensed';
        font-size: 3vw;
        letter-spacing: 0.5vw;
    }
    .footer-subheader{
        font-family: 'New Spirit Semibold Condensed';
        font-size: 2.4vw;
    }
    .footer-copyright{
        font-family: 'New Spirit Regular';
        font-size: 1.5vw;
        letter-spacing: 0.2vw;
    }
    .about-row{
        margin-bottom: 4vh;
    }
    .about-description{
        font-size: 2vw;
        margin-top: 0vh;
    }
    .about-section-header{
        font-size: 3vw;
        display: block;
        text-align: left;
    }
    .team-title{
        font-size: 4vw;
    }
    .team-name{
        font-size: 2.6vw;
        display: block;
        text-align: left;
        margin-top: 2vh;
    }
    .team-role{
        font-size: 1.8vw;
        display: block;
        text-align: left;
    }
    .team-description{
        font-size: 1.6vw;
    }
}

@media(min-width:1200px){
    .footer-header{
        font-family: 'New Spirit Bold Condensed';
        font-size: 2vw;
        letter-spacing: 0.5vw;
    }
    .footer-subheader{
        font-family: 'New Spirit Semibold Condensed';
        font-size: 1.6vw;
    }
    .footer-copyright{
        font-family: 'New Spirit Regular';
        font-size: 1vw;
        letter-spacing: 0.2vw;
    }
    .about-row{
        margin-bottom: 10vh;
    }
    .about-description{
        font-size: 1.5vw;
        margin-top: 2vh;
    }
    .about-section-header{
        font-size: 2.8vw;
        display: block;
        text-align: left;
    }
    .team-title{
        font-size: 3.6vw;
    }
    .team-name{
        font-size: 1.6vw;
        display: block;
        text-align: left;
        margin-top: 2vh;
    }
    .team-role{
        font-size: 1.2vw;
        display: block;
        text-align: left;
    }
    .team-description{
        font-size: 1.1vw;
    }
}